<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings, <%= @member.first_name %>!</h1>
    <p>
      Thank you so much for registering to Momsntots. <br>
		Your username is <%=@member.username%>  <br>
	 
  Please activate your account by clicking below url. This is to confirm that your are the right user.
      If you did not initiate this request, please ignore this email. 

     <%= verifymember_url(:auth_token => @member.auth_token) %>

    </p>
  </body>
</html>

