<% if @admin.errors.any? %>
    
               
           
        
            <ul class='nav'>
        <% @admin.errors.full_messages.each do |msg| %>
        <b> <li class="text-error">*<%= msg %></li></b>
        <% end %>
        </ul>
        
        
<%end%>