<html>
 

<body>
	
	


 <h3 class="page-header">Delete Event</h3>



<% @the_web_page_title = "Delete category: #{@event.name}" %>

<div class='row'>
	<div class='span8 offset1'>
	 
<div class="category delete">
  
  
  <%= form_for(:event, :url => {:action => 'destroyEvents', :id => @event.id}) do |f| -%>
<center>
   	<h2> <img src='/assets/danger.jpeg' width="45" height="30"> 
	Are you sure you want to permanently delete this event?
  
 
 " <%= @event.name %> " </h2> 
  
 
      <%= submit_tag "Delete Event",:class => 'btn btn-danger' %>
 
 	<%= link_to("Cancel", {:action => 'listEvents'}, :class => 'btn') %></center>
    
  <% end %>
 
</div>
 </div>
</body>
</html>