
<html>
 <body>

 <div class='row'>
 	<div class='span6 offset2'>	

<%=form_for(:invitee,:url=>{:action=>'destroyInvitee',:id =>@invitee.id}) do |f| %>

 

<table class="table"> 
	<tr>
		 
	<th>
 
 Do u really want  to delete " <%=@invitee.email%> "  ?

</th>
 </tr>
<tr>
	<td>
	<%=submit_tag "Confirm Delete",:class=>'btn'%> 
 <%=link_to("Cancel",{:action=>'index'},:class=>'btn')%></td>
</table>

 
<%end%>
</div>
</div>

</body>
</html>

