
<html>
<body>

  	 
<h3 align="center">Products  Categories  </h3>
	<div><%= pluralize(@products.size, 'product') %> found</div> <br>
<div class='row'>
 <center>	 <div class='span8 offset1'>
<%@products.each do |product|%> 	 

 


<%=link_to(product.title,{:controller=>'member',:action=>'listReviews', :product_id=>product.id},:class=>'btn') %>
 

<%end%></center>
 
</div>
 

 
 
</body>
</html>
  

