<!DOCTYPE html>
 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Welcome</title>
 
</head>
<body>
 
 
<div class="center hero unit">
<div class='container'>
<div class='row'>	 
	
 <div class='span5 '>

					<%@homes.each do |home|%>
 			
						<h2 id="home"><center><img src='/assets/home.gif'> <%=home.title%></center></h2>
 	 
  <p class='lead'><center><%=simple_format(home.content)%></center> </p>
	<p> <center>
	 <%=link_to("Sign In",{:action=>'login'},:class=>'btn btn-primary btn-large')%>
	<%=link_to("Sign Up",{:action=>'newMember'},:class=>'btn btn-primary btn-large')%>
		
		
		
		</center></p>
 
<%end%>
 </div>
  
		<br>	<br>	<br>
	<div class='span5 offset1'>

  
 
	 <center><h3 class="headEventHighlights">Event highlights</h3></center>
	
	<br>
	<table>
		<tr>	<td>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
		
    <div class="item active">

       <center>   <img class='carimage' src="/assets/slide3.JPG" class="img-rounded"  ></center>
     </div>
	<div class="item">
   <center>   <img src="/assets/slide4.JPG" class='carimage' >   </center>
       
    </div>
	<div class="item">
       <center>  <img src="/assets/slide5.JPG" class='carimage'  ></center>
       
    </div>
	 
	
 
	 
  
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</td> </tr>


</table>

</div>
</div>
 
 
 
	<script type='text/javascript'>
	    $(document).ready(function() {
	         $('.carousel').carousel({
	             interval: 3500
	         })
	    });    
	</script>


	 

</body>
</html>