 <html>

<body>
 
<div class='row'>
<div class='span6 offset3'>
	<div class="leaderboard">
 
	<%@contacts.each do |contact|%>
 
<center>
	<h2>Contact Us</h2> 
<dl>
	<dt>
	 
	  We Are known As: </dt>
	<dd><%=contact.name%>     </dd>
 
	 	<dt> Email Us at</dt>	  
    <dd><%= contact.emailid%>   </dd>
    <dd><input type="text-area" name="message"/></dd>
    <%=link_to("Send Email",{:controller=>"public",:action=>"sendemailToAdmin"},:class=>'btn')%>
 
	   	<dt>  Meet  Us at </dt>			 
    <dd> <%= contact.facebook%>   </dd>
 
 	 	
	<%end%>
</dl></center>
 </div>
	 </div>
	</div>
 
</body>
</html>