 <html>

<body>
 
<div class='row'>
<div class='span6 offset3'>
	<div class="leaderboard">
 
	<%@contacts.each do |contact|%>
 
<center>
	<h2>Contact Us</h2> 

<table class="table table-striped">
<tr><th>  <%=contact.name%>  </th></tr>
<tr><th></th></tr>
<tr><th><img src="/assets/email-logo.jpg" width="50" height="50">
		<%= link_to(contact.emailid,:action=>"emailAdmin.html")%> </th></tr>
<tr><th></th></tr>
 <tr><th>
 	<a href="https://www.facebook.com/MomsAndTotsSylvanParkNeighborhood">
 		<img src="/assets/facebook.jpeg" width="50" height="50">
 	<%= contact.facebook%></a> </th></tr>
 <tr><th></th></tr>
	    
 	 	
	<%end%>
	</table>
</center>

</div>
</div>
 </div>

	 
 
</body>
</html>