 <html>

<body>
 
<div class='row'>
<div class='span10 offset1'>
	<div class="leaderboard">
 
	<%@contacts.each do |contact|%>
 
<center>
	<h2>Contact Us</h2> </center>


<table class="table">
 <tr><td> 
 	<center><%=contact.name%>  </td></tr> </center> 
<tr><th>
</th></tr>
<tr><td>

		<center>
			<img src="/assets/email-logo.jpg" width="50" height="50">
			<%= contact.emailid%> </center>
		</th></tr>
<tr><td>
</th></tr>
 <tr><td>
 	<a href="https://www.facebook.com/MomsAndTotsSylvanParkNeighborhood">
 		
 <center><img src="/assets/facebook.jpeg" width="50" height="50"><%= contact.facebook%></center>	</a> </td></tr>
 <tr><th></th></tr>
	    
 	 	
	<%end%>
	</table>
 
 

</div>
</div>
 </div>

	 
 
</body>
</html>