<!DOCTYPE html>
<html>
<head>
	 <%= stylesheet_link_tag  "application", :media => "all" %>

  
  
  <title>Clubby Kids</title>
</head>
<body>
	<div class='container'>
	 
 <div class='hero-unit'>

 <%= bootstrap_flash %>
<%= yield %>

</div> 
</div>
 
	
  

</body>
	
</html>